TAVILY_API_KEY=
OPENAI_API_KEY =
OPENAI_BASE_URL =
LANGSMITH_API_KEY =
LANGSMITH_PROJECT=open_deep_research
LANGSMITH_TRACING_V2=true

# Only necessary for Open Agent Platform
SUPABASE_KEY=
SUPABASE_URL=
# Should be set to true for a production deployment on Open Agent Platform. Should be set to false otherwise, such as for local development.
GET_API_KEYS_FROM_CONFIG=false